* {
    border: red solid 1px;
  }
  
  body {
    display: flex;
    background-color: black;
    justify-content: center;
    height: 98vh;
  }
  
  #first-container {
  width: 20vw;
  height: 98vh;
  background-image: url("background.avif");
  background-size:auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  }

  /* Need to find a solution for background opacity */
  #overlay {
    /* height: 100%;
    width: 100%;
    opacity: 0.3; 
    background-color: black; */
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 100px;
   

  }

  span {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  
    
  }

  img {
   height: 100px;
   width: 75px;
   /* display: flex;
   justify-content: center; */
  }
  
  #second-container {
  width: 50%;
  height: 98vh;
  
  }
  
  header {
    background-color: lightgray;
    height: 33%;
    width: 70%;
  }
  
  main {
    background-color: white;
    height: 33%;
    width: 70%;
  }
  
  footer {
    background-color: lightgray;
    height: 33%;
    width: 70%;
  }
  
  #overlay {
    height: 33%;
  }